*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: rgb(5, 1, 8);
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: white !important;
    font-size: 20px;
    float: right;
    text-align: right;
}
.fa-bars{
    color: white;
    font-size: 30px !important;
}
.navbar-toggler{
    outline:none !important;
}
#ban{
    background-color: rgb(5, 1, 8);
    color: white;
    padding-top: 10px;
}
.head{
    font-size: 40px;
    margin-top: 100px;
}
.logo{
    color: white;
    height: 45px;
    width: 45px;
    padding-bottom: 15px;
    margin: 15px;
    
}
#ban a{
    color: white;
    text-decoration: none;
}
.img-fluid{
    height: 450px;
    width: 450px;
    margin-top:25px;
    padding-bottom: 15px;
    background: none;
}
.btnimg{
    width: 100%;
    height: 150px;
}
#services{
    padding-top: 15px;
    padding: 80px 0px;
}
.services .des-img{
    width: 250px;
    height: 250px;
    margin: auto;
}
h3{
    padding-top: 9px;
    margin-top: 7px;
}
.title::before{
    content: '';
    background-color: rgb(196, 26, 26);
    height: 5px;
    width: 400px;
    margin: auto;
    display: block;
    transform: translateY(70px);
}
.title::after{
    content: '';
    background-color: rgb(196, 26, 26);
    height: 10px;
    width: 50px;
    margin: auto;
    display: block;
    
    transform: translateY(15px);
}
.services .btn-primary{
box-shadow: none;
padding-left: 8px 25px;
border: none;
margin-top: 0;
border-radius: 20px;
background-color: black;
font-size: 20px;
}
#about{
    padding-top: 30px;
    padding-bottom: 50px;
    background: rgb(226, 243, 243);
}
.about-title{
    font-size: 30px;
    margin-top: 10px;

}
.about-img{
    height: 350px;
    width: 350px;
    margin-top: 25px;

}
#clients{
    margin: 10px 0px;
}
.clients{
    border-right: 4px solid khaki;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clients img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
#social{
    padding-bottom: 40px 0;
}
#social p{
    font-size: 40px;
    padding-bottom: 50px;
    display: inline-block;
    margin: auto;
}
.icons{
    margin-left: 550px;
}
.sicons img{
    width: 65px;
    transition: 0.5s;
    /*float: left;
    flex-direction: row;*/
    padding-bottom: 60px;
    
}
.sicons a:hover img{
    transform: translateY(-10px);
}
 #footer{
     background-color: tomato;
     padding-bottom: 15px;
 } 
 .foot{
     text-align: center;
 }
 .phone, .email, .copyright{
     text-align: center;
     font-size: 25px;
 } 









